.wrapper {
	height: 100vh;
	padding: 49px 97px 0px 97px;
	font-size: 30px;
	background: url("../../../../public/mainpage_background.png") right bottom no-repeat;
	@media (max-width: 800px) {
		background: none;
	}
}